p{
  font-family:"Cosmic Sans MS", cursive, sans-serif;
  text-align: center;
  font-size: 23px;
}
.link{
  display:flex;
  justify-content: center;
}
a{
  font-family:"Cosmic Sans MS", cursive, sans-serif;
  font-size: 18px;
  margin: 10px;
  color: black;
  background: white;
  border-radius: 20px;
  padding: 10px;
}
