
  <div class="login">
      <div class="form-login">
          <h4>REGISTER</h4>
          <form action="">
              <input type="text" class="form-control m-1" placeholder="First Name">
              <input type="password"  class="form-control m-1" placeholder="LastName">
              <input type="email" class="form-control m-1" placeholder="email">
              <input type="password"  class="form-control m-1" placeholder="password">
              <label for="showPassword">
                  <input
                  (click)='ShowPassword()'
                  type="checkbox"
                  class="form-check-input"
                  id="showPassword">Show password
              </label>
              <button class="btn btn-block m-1 btn-success">REGISTER</button>
          </form>
          <button class="btn btn-block m-1 btn-secondary"  routerLink="/">LOGIN</button>
        </div>
  </div>
